@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
    font-family: 'Roboto', san-serif !important;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(65, 65, 65);
    margin: 0 4rem;
}

img {
    object-fit: cover;
}

br {

}

/* Navigation Menus */
nav {
    display: flex;
    justify-content: space-around;
    color: white;
    margin: 3mm;
}

nav a {
    transition: transform 0.1s ease;
    cursor: pointer;
}

nav a:hover {
    transform: scale(0.9);
    transition: transform 0.1s ease;
}

nav > div {
    display: contents;
}

nav > details > summary::before {
    content: 'menu';
}

nav > details[open] > summary::before {
    content: 'menu_open';
}

@media screen and (max-width: 768px) {
    nav {
        display: initial;
    }

    nav > div {
        display: none;
    }

    nav > details {
        display: flex;
    }

    nav > details > a {
        padding: 0.5rem;
        margin: 0.2rem;
        width: auto;
        backdrop-filter: brightness(0.8);
    }

    nav > details > a:hover {
        transform: scale(0.98);
        transition: transform 0.1s ease;
    }
}

/* Dynamic Slideshow */
.dynamic-slideshow {
    background-color: white;
    padding: 1mm 1rem 0.5rem 1rem;
}

.dynamic-slideshow > div {
    position: relative;
}

.dynamic-slideshow #current-img {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.dynamic-slideshow #current-img-title {
    position: absolute;
    top: 0;
    margin: 0;
    color: white;
    text-shadow: 0.5mm 0.5mm 3mm black;
    padding: 1rem;
}

.dynamic-slideshow #next {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    width: 2rem;
    transition: transform 0.1s ease;
}

.dynamic-slideshow #next:hover {
    transform: scale(0.9);
    transition: transform 0.1s ease;
}

.dynamic-slideshow #prev {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    width: 2rem;
    transform: rotate(180deg);
    transition: transform 0.1s ease;
}

.dynamic-slideshow #prev:hover {
    scale: 0.9; 
    transition: transform 0.1s ease;
}

.dynamic-slideshow #images {
    display: flex;
    height: auto;
    overflow: scroll hidden;
}

.dynamic-slideshow #images > img {
    width: 25%;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.dynamic-slideshow #images > img:hover {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

/* Media Cards */
.media-card {
    border-width: 0.2mm;
    border-radius: 0.5mm;
    border: solid white;
    width: fit-content;
    background-color: white;
    margin: 1mm;
}

.media-card img {
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.tall {
    width: 12rem;
}


.media-card > main {
    padding: 1rem;
    width: fit-content;
}

.media-card > header > img {
    width: -webkit-fill-available;
    border-bottom: solid gray;
}

.media-card > img {
    border-radius: 50%;
}

.media-card h1 {
    text-align: left;
}

section {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: space-evenly;
    grid-gap: 1rem;
    
    /*
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    */
}

/* Footer */
footer {
    color: white;
    text-align: center;
    margin: 3mm;
}

/* Popup Image */
#popup {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    overflow: auto;
}

#popup > div {
    background-color: white;
    border-radius: 1rem;

    margin: 2rem;
    padding: 1rem;
}

#popup img {
    width: 100%;
    height: auto;
}